body {
  font-family: sans-serif;
  background-image: url("bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 400px;
  padding-bottom: 200px;
  padding-left: 100px;
  padding-right: 100px;
}

.cuesheet-container {
  padding: 30px;
}

.cuesheet {
  width: 100%;
  min-height: 400px;
  white-space: pre;
  font-family: monospace;
}

.cuefile-name-suggestion {
  font-family: monospace;
  font-size: 18px;
  margin: 20px;
}

.dropzone {
  font-size: 18px;
  padding: 50px;
  background-color: #eee;
  text-align: center;
  border: 5px dotted #ccc;
  margin: 30px;
  transition: all 0.25s ease-in-out;
}

.dropzone.hover {
  border-color: #888;
  margin: 28px;
  padding: 52px;
}

.dropzone.flash {
  border: 5px dotted #888;
  margin: 20px;
  padding: 60px;
}

.dropzone * {
  pointer-events: none;
}

.dropzone-tip {
  margin-top: 10px;
  color: #777;
  font-size: 12px;
}

footer {
  margin-top: 50px;
  text-align: center
}
